@{
    ViewData["Title"] = "ASP.NET Core MVC Opinionated Template";
}

<h1>@ViewData["Title"]</h1>

<h3>United States and Canadian States, Territories, and other regions that have a postal code</h3>
<ul>
    @foreach (var state in ViewBag.StateList)
    {
        <li>@state.StateName (@state.StateCode)</li>
    }
</ul>

<p>Process Name: @ViewBag.ProcessName</p>